* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-proof {
  width: 1110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px 30px;
}

.social-proof > header {
  width: 410px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 3.2rem;
  margin-bottom: 24px;
}

header > p {
  color: hsl(303, 10%, 53%);
  font-size: 1.1rem;
  line-height: 1.5;
}

.ratings {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rating {
  width: 445px;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  padding: 20px 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.rating:nth-of-type(2) {
  align-self: center;
}

.rating:nth-of-type(3) {
  align-self: flex-end;
}

.stars {
  display: flex;
  gap: 8px;
}

.testimonials {
  grid-column: 1 / -1;
  display: flex;
  gap: 30px;
}

.testimonial {
  flex: 1;
  height: 234px;
  background-color: hsl(300, 43%, 22%);
  color: white;
  padding: 40px 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.testimonial:nth-of-type(2) {
  margin-top: 16px;
}

.testimonial:nth-of-type(3) {
  margin-top: 32px;
}

.testimonial header {
  display: flex;
  align-items: center;
  gap: 22px;
}

.testimonial img {
  width: 40px;
  border-radius: 50%;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user p {
  color: hsl(333, 80%, 67%);
}

blockquote {
  margin-top: auto;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  body {
    background-image: url(./images/bg-pattern-top-mobile.svg),
      url(./images/bg-pattern-bottom-mobile.svg);
  }

  .social-proof {
    margin-block: 80px 100px;
    width: max(85vw, 327px);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .social-proof > header {
    width: 100%;
    text-align: center;
  }

  .ratings {
    align-self: stretch;
  }

  .rating {
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }

  .testimonials {
    flex-direction: column;
    gap: 16px;
  }

  .testimonial {
    gap: 25px;
  }

  .testimonial:nth-of-type(n + 2) {
    margin-top: 0;
  }
}
